.App{
  max-width: 1200px;
}
.Header{
  border: 8px solid brown;
  height: 60px;
  padding: 2px;
  background-color: darkgray;
  justify-content: right;
  font-style: italic;
  color: antiquewhite;
  display: block;
  
}
h1  {
  float: right;
  font-style: italic;
  font-size: 25px;
  font-weight: bolder;
  color: darkblue;
}
h2{
  font-size: 20px;
  color: darkblue;
  font-style: oblique;
  text-decoration: underline;
}
h3{
  float: right;
}
.donnepersonel{
  border: 8px solid brown;
  float: left;
  height: 1100px;
  background-color: darkgray;
  max-width: 300px;

}
img{
  border-radius: 900px;
  height: 200px;
  width: 230px;
}
.donnepersonel1{
    line-height: 2;
    font-size: 15px;
    color: black;
    
}
.donnepersonel2{
  line-height: 1.2;
  text-align: left;
  font-size: 13px;
}
.donnepersonel3{
  line-height: 1.2;
  text-align: left;
  font-size: 13px;
}
.mainpage{
  border: 8px solid brown;
  height: 1100px;
  max-width: 1198px;
  background-color: lemonchiffon;
  
}
span{
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: darkblue;
 }
 .fff{
   /* display: flex;
   flex-direction: row; */
   justify-content: space-between;
   /* position: relative; */
 }
 .dat{
   float: right;
   /* position: absolute; */

 }
 .pppp{
  text-align: justify;
  font-size: 13px;
 }